##  uppack tuple
1.

In [1]:
city_info_tuple = ('Tokyo', 2003, 32450)
city, year, pop = city_info_tuple

In [2]:
a, b, c = 10, 20, 'hello'
print(a, b, c)

10 20 hello

In [3]:
x, y, z = 'XYZ'
print(x, y, z)

X Y Z

In [4]:
# swap
x, y, z = 'XYZ'
x, y, z = y, z, x
print(x, y, z)

Y Z X

2.

In [5]:
t = (20, 8)
divmod(*t)

(2, 4)

3.

In [6]:
import os
_, filename = os.path.split('/venv/bin/activate.bat')

In [7]:
filename

'activate.bat'

4.
args

In [8]:
a, b, *rest = range(4)
rest

[2, 3]

In [9]:
*head, b, c, d = range(6)
head

[0, 1, 2]

5.
nested

In [10]:
nt = (1, 2, ('three', 'four'))

In [11]:
a, b, (c, d) = nt

# name tuple

In [12]:
from collections import namedtuple

### constructor

In [13]:
City = namedtuple('City', 'name country population coordinates')
# or
City = namedtuple('City', ['name', 'country', 'population', 'coordinates'])

### construct

In [14]:
tokyo = City('Tokyo', 'JP', 36933, (35.689, 139.691))
# or
tokyo = City(country='JP', name='Tokyo', population='36933', coordinates=(35.689, 139.691))

In [15]:
tokyo.name

'Tokyo'

* class attribute: _fields
* class method: _make()
* instance method: asdict()

In [16]:
tokyo._fields

('name', 'country', 'population', 'coordinates')

In [17]:
tokyo._asdict().items()

odict_items([('name', 'Tokyo'), ('country', 'JP'), ('population', '36933'), ('coordinates', (35.689, 139.691))])

In [18]:
t = tokyo._asdict().values()
print(t)
City._make(t)

odict_values(['Tokyo', 'JP', '36933', (35.689, 139.691)])

City(name='Tokyo', country='JP', population='36933', coordinates=(35.689, 139.691))